html {
  background-color: rgb(238, 0, 0);
  height: 400px;
}
.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  overflow-x: hidden;
  font-family: "Bebas Neue", cursive;
}

.addingname {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: block;
  font-family: "Bebas Neue", cursive;
}

#input {
  width: 500px;
  max-width: 99vw;
  height: fit-content;
  min-height: 300px;
  margin: auto;
  display: flex;
  font-family: "Bebas Neue", cursive;
}

#inputsender {
  width: 80%;
  height: 40px;
  margin: auto;
  outline: none;
  margin-right: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid white;
  caret-color: rgb(0, 255, 21);
  color: white;
  font-size: 100%;
  font-family: "Bebas Neue", cursive;
}

#submit {
  width: 15%;
  height: 46px;
  margin: auto;
  margin-left: 5px;
  background-color: rgba(115, 255, 0, 0.979);
  border: 1px solid white;
  color: white;
  font-family: "Bebas Neue", cursive;
}

#clear {
  width: 15%;
  height: 46px;
  margin: auto;
  margin-left: 5px;
  background-color: rgb(245, 0, 0);
  border: 1px solid white;
  color: white;
  font-family: "Bebas Neue", cursive;
}

#displayname {
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  padding: 20px;
  grid-gap: 20px;
  font-family: "Bebas Neue", cursive;
}

.names {
  width: 100%;
  min-width: 30px;
  height: 50px;
  margin: auto;
  border: none;
  background-color: rgba(238, 238, 238, 0);
  color: white;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: "Bebas Neue", cursive;
  text-align: left;
}

.names:hover {
  background-color: red;
  transition: 0.7s ease-in;
  border-radius: 10px;
  width: 100%;
  font-size: 30px;
  color: white;
}
